.ricardo {
    display: flex;
    justify-content: center;
}

.heart{
	position: absolute;
	background-color: #b1182d;
	height: 100px;
	width: 100px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: rotate(-45deg);
	animation-name: beating;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
}

.heart::before{
	content: "";
	position: absolute;
	background-color: #b1182d;
	width: 100px;
	height: 100px;
	top: -50px;
	left: 0;
	border-radius: 50%;
}

.heart::after{
	content: "";
	position: absolute;
	background-color: #b1182d;
	width: 100px;
	height: 100px;
	top: 0;
	left: 50px;
	border-radius: 50%;
}

	.backgr{
		height: 100vh;
		width: 100vw;
		background-color: #ffc0cb;
		animation-name: backgr;
		animation-duration: 3000ms;
		animation-iteration-count: infinite;
	}
 @keyframes backgr {
    50% {
      background: #ffe6f2;
    }
  }

  @keyframes beating {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }
